<mat-toolbar style="background-color: rgb(240, 128, 63);" class="mat-elevation-z10">
    <span mat-button routerLink="/"><mat-icon>home</mat-icon></span>
    <a mat-button routerLink="/">Home</a>
    <div class="spacer"></div>

    <a mat-button routerLink="hood-form">Create a Hood</a>
    <a mat-button routerLink="new-blog">Create Post</a>
    <a mat-button routerLink="register">Register</a>
    <a mat-button routerLink="login">Login</a>
    <a mat-button routerLink="log-out">Log Out</a>

 </mat-toolbar>
