<mat-toolbar style="background-color: rgb(240, 128, 63);" class="mat-elevation-z10">
    <span mat-button routerLink="/"><mat-icon>home</mat-icon></span>
    <a mat-button routerLink="/">Home</a>
    <div class="spacer"></div>

    <a mat-button routerLink="hood">Hood</a>
    <a mat-button routerLink="hood-form">create hood</a>
    <a mat-button routerLink="authority">Authority</a>
    <a mat-button routerLink="business">Businesses</a>
    <a mat-button routerLink="new-bussiness">new Bussiness</a>
    <a mat-button routerLink="health">Health Services</a>
    <a mat-button routerLink="blogs">Blogs</a>
    <a mat-button routerLink="new-blog">Add blog</a>
    <a mat-button routerLink="register">Register</a>
    <a mat-raised-button color="primary" routerLink="log-out">Log-Out</a>
 </mat-toolbar>
