<div class="container">

  <hr>
  <div class="row">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Name:{{hood.neighbourhood_name}}</h5>
        <p class="card-text">Location:{{hood.neighbourhood_location}}</p>
        <p class="card-text">Occupants:{{hood.occupants}}</p>
      </div>
    </div>

</div>
<br>
<a href="/create-business/{{hood.id}}" class="btn btn-success">Create a business</a> <br>
<br>
<a href="/view-business/{{hood.id}}" class="btn btn-primary">View businesses</a>
<br>
<a href="/create-dept/{{hood.id}}" class="btn btn-primary">Create department</a>
</div>
