<div class="container">

    <hr>
    <div class="row" *ngFor="let hood of data">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{hood.neighbourhood_name}}</h5>
          <p class="card-text">{{hood.neighbourhood_location}}</p>
          <p class="card-text">{{hood.occupants}}</p>
          <a href="/hood/{{hood.id}}" class="btn btn-primary">View Details</a> <br>
          <a href="/join/{{hood.id}}" class="btn btn-success">Join</a>
        </div>
      </div>
  </div>
  </div>
