﻿<div class="hood-form">
    <div class="container" >
    <div class="panel panel-primary" style="background-color:white;margin-left:200px;margin-top:30px;margin-bottom:30px;width:700px;height:auto;padding:30px;">
        <div>
                <h3 class="panel-title">CREATE HOOD</h3>
        </div>
    <div class="panel-body" style="color:white;">
        <form [formGroup]="form" (ngSubmit)="hoodForm()">


            <div class="form-group">
                <label for="firstName">Neighbourhood Name</label>
                <input  type="text"  formControlName="neighbourhood_name" id="Name" class="form-control" placeholder="Neighbourhood Name" maxlength="50"  ng-minlength="3" required />
            </div>
            <div class="form-group">
                <label for="location"> Neighbourhood Location</label>
                <input autocomplete="off" type="text"  formControlName="neighbourhood_location" id="location" placeholder="Neighbourhood Location" class="form-control"  required />

            </div>
            <div class="form-group">
                <label for="location">Neighbourhood Occupants</label>
                <input  type="number"  formControlName="occupants"  id="occupants" class="form-control" placeholder="Occupants"  required />
            </div>
            <div class="form-group">
              <button class="btn btn-danger btn-block btn-lg">Create a Hood</button>
          </div>
        </form>
    </div>
    </div>
    </div>
</div>
