﻿<div class="hood-form">
    <div class="container" >
    <div class="panel panel-primary" style="background-color:white;opacity:0.5;margin-left:200px;margin-top:30px;margin-bottom-30px;width:700px;height:auto;padding:30px;">
        <div>
                <h3 class="panel-title">CREATE HOOD</h3>
        </div>
    <div class="panel-body" style="color:black;">
        <form (addHood)="addNewHood($event)" #hoodForm='ngForm' (ngSubmit)='submitHood()' name="form" role="form">
            <div class="form-group">
                <label for="firstName">Enter Admin your name</label>
                <input autocomplete="off" type="text" [(ngModel)]="newHood.admin" name="admin"  id="Admin" class="form-control" #name='ngModel' placeholder="Admin" required />
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    <p>Admin name is required</p>
                </div>
            </div>
            <div class="form-group">
                <label for="firstName">Enter your name</label>
                <input autocomplete="off" type="text" [(ngModel)]="newHood.name" name="name"  id="Name" class="form-control" #name='ngModel' placeholder="name" maxlength="50"  ng-minlength="3" required />
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    <p>Name is required</p>    
                </div> 
            </div>
            <div class="form-group">
                <label for="location">Hood Location</label>
                <input autocomplete="off" type="text" [(ngModel)]="newHood.location" name="location"  id="location" class="form-control" #name='ngModel' required />
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    <p>location is required</p>    
                </div>            
            </div>
            <div class="form-group">
                <label for="location">Hood Occupants</label>
                <input autocomplete="off" type="text" [(ngModel)]="newHood.occupants" name="occupants"  id="occupants" class="form-control" #name='ngModel' required />
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    <p>Number of occupants is required</p>    
                </div>        
            </div>
            <div class="form-group">
                <label for="mobile">Contact</label>
                <input autocomplete="off" type="text" [(ngModel)]="newHood.contacts" name="contacts"  id="contacts" class="form-control" #name='ngModel' required />
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    <p>contact is required</p>    
                </div>              
            </div>            
            <div class="form-actions">
                <a href="hood" style="margin-left:280px;" class="text-center btn btn-outline-primary">SUBMIT</a>
            </div>
        </form>
    </div>
    </div>
    </div>
</div>
